name: Testing with Codeception
on:
  pull_request:
    branches: [ master, develop ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          extensions: openssl,bcmath
          
      - name: Start php-fpm
        run: |
          sudo service php8.0-fpm restart

      - name: Install composer packages
        run: cd $GITHUB_WORKSPACE/src && composer install
          
          
      - name: Create .env File
        run: |
          echo $'FRONTEND_BASE_URL="https://localhost/"\r\nAPI_BASE_URL="https://localhost/"\r\nDB_USER="root"\r\nDB_PASSWORD="root"\r\nDB_HOST="localhost"\r\nDB_DATABASE="iol_sso"\r\n' > $GITHUB_WORKSPACE/src/.env
          
      - name: Import DB
        run: |
          sudo systemctl start mysql
          mysql -uroot -proot < $GITHUB_WORKSPACE/src/sql/dump.sql
          
      - name: Setup nginx
        run: |
          sudo cp $GITHUB_WORKSPACE/.github/environment/nginx.conf /etc/nginx/sites-enabled/sso.conf
          sudo cat /etc/nginx/sites-enabled/sso.conf
          sudo nginx -t
          sudo service nginx restart

      - name: Test project
        run: |
          cd $GITHUB_WORKSPACE/src
          curl -X POST http://localhost/v1/auth/login
          tail -n 100 /var/log/nginx/error.log
          tail -n 100 /var/log/nginx/access.log
          #$GITHUB_WORKSPACE/src/vendor/bin/codecept run tests -vv
